:root{
    --PrimaryColor: #2894B5;
    --SecondaryColor: #1A6075;
    --ContrastColor: #0C2C36;
    --SoftContrast: #36C8F5;
    --SoftBlue2:#30B4DB;
    --Black: #201e1c;
    --Black1: #282623;
    --grey: #bababa;
    --Offwhite: #faf8f7;
    --white: #fff
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    background-color: var(--SecondaryColor);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
img{    
    width: 100%;
    height: 100%;
    
}
.game-container{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    height: 85%;
    margin: 0 auto;
    border: 4px solid var(--SoftContrast);
    border-radius: 12px;
}
.bot-options{
    display: inline-flex;
    justify-content: space-between;
    width: 75%;
    justify-self: start;
}
.option{
    max-width: 120px;
    max-height: 120px;
    min-width: 80px;
    min-height: 80px;
    border-radius: 12px;
    border: 4px solid var(--ContrastColor);
    background-size: cover;
}
.scisors{
    background-image: url("./Bin/scissors.png");
}
.paper{
    background-image: url("./Bin/paper.png");
}
.rock{
    background-image: url("./Bin/stone.png");
}
.bot-select{
    animation: spr;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spr{
    33%{
        background-image: url("./Bin/scissors.png");
    }
    66%{
        background-image: url("./Bin/paper.png");
    }
    90%{        
        background-image: url("./Bin/stone.png");
     
    }
}
button {
    
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--SoftBlue2);
    background: linear-gradient(to right, var(--SoftContrast) 1%, transparent 40%,transparent 60% , var(--ContrastColor) 100%);
    color: var(--white);
    box-shadow: inset 0 0 10px var(--SoftContrast) 0 0 9px 3px var(--ContrastColor);
   }
   
   button:hover {
    color: var(--SoftContrast);
    box-shadow: inset 0 0 10px rgba(27, 253, 249, 0.6), 0 0 9px 3px var(--ContrastColor);
   }
   
   button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, var(--ContrastColor) 40%,var(--ContrastColor) 60% , transparent 100%);
   }
   
   button:hover:before {
    transform: translateX(15em);
   }
   .user-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
   }
   .user-option{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
   }

   p{
    font-family: 'Rubik Bubbles', cursive;
    font-size: 4em;
    text-align: center;
   }
